{
  "nombre" : "Marly Murcia",
  "ciudad" : "Bogota",
  "once" : 2019,
  "active" : true,
  "members" : [
    {
      "colegio" : "La Arabia",
      "año" : 2016,
      "curso" : "801",
    },
   {
      "colegio" : "La Arabia",
      "año" : 2017,
      "curso" : "901",
    },
    {
      "colegio" : "El libertador",
      "año" : 2018,
      "curso" : "1004",
    },
  ]
}
